﻿@model LoginDTO

<div class="d-flex flex-column flex-wrap justify-content-center">
    <h2>Вход в систему</h2>

    <form asp-controller="account" asp-action="login" class="">
        <div class="d-flex flex-column flex-wrap gap-2">
            <div class="form-group">
                <label asp-for="Email">Введите Email</label>
                <input class="form-control" type="text" asp-for="Email" />
                <span class="text-danger" asp-validation-for="Email" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Введите пароль</label>
                <input class="form-control" asp-for="Password" />
                <span class="text-danger" asp-validation-for="Password" />
            </div>
            <div class="text-danger" asp-validation-summary="All"></div>
            <button type="submit" class="btn mt-1 btn-primary btn-block">Войти</button>
        </div>
    </form>
</div>