﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="display-4 d-flex flex-row justify-content-center">
        <span>Welcome</span>
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <span>, @User.Identity.Name</span>
        }
        else
        {
            <span>, please <a class=" text-decoration-none" asp-controller="account" asp-action="login">log in</a></span>
        }
    </div>
</div>
