﻿@using FeastHub.Common.DTO.View
@model PageInfo
<ul class="d-flex pagination flex-row justify-content-center">
    <li class="page-item @(Model.CurrentPage <= 1 ? "disabled" : null)">
        <button to-page="@(1)" class="page-link">
            &lt;&lt;
        </button>
    </li>
    <li class="page-item @(Model.CurrentPage <= 1 ? "disabled" : null)">
        <button to-page="@(Model.CurrentPage - 1)" class="page-link">
            &lt;
        </button>
    </li>
    @for (int i = Model.CurrentPage - 2; i <= Model.CurrentPage + 2; i++)
    {
        @if (i > 0 && i <= Model.PageCount)
        {
            <li class="page-item @(Model.CurrentPage == i ? "active" : null)">
                <button to-page="@i" class="page-link">
                    @i
                </button>
            </li>
        }
    }
    <li class="page-item @(Model.CurrentPage >= Model.PageCount ? "disabled" : null)">
        <button to-page="@(Model.CurrentPage + 1)" class="page-link">
            >
        </button>
    </li>
    <li class="page-item @(Model.CurrentPage >= Model.PageCount ? "disabled" : null)">
        <button to-page="@Model.PageCount" class="page-link">
            >>
        </button>
    </li>
</ul>