﻿@using FeastHub.Common.DTO;
@model UserDTO

<div class="" role="document">
    <form class="modal-content" asp-controller="user" asp-action="ban" asp-route-actionType="@ViewBag.ActionType">
        <div class="modal-header d-flex justify-content-center flex-column">
            <h4 class="modal-title" id="exampleModalLongTitle">
                @if (ViewBag.ActionType == ActionType.Remove)
                {
                    <span>Разблокировка пользователя</span>
                }
                else
                {
                    <span>Блокировка пользователя</span>
                }
                <span>@Model.Email</span>
            </h4>
            <div class="text-danger mt-2" asp-validation-summary="All"></div>
        </div>
        <div class="modal-footer d-flex flex-row flex-wrap">
            <button type="button" class="btn btn-primary" return>Отмена</button>
            <button type="submit" class="btn btn-danger">
                @if (ViewBag.ActionType == ActionType.Remove)
                {
                    <span>Разблокировать</span>
                }
                else
                {
                    <span>Заблокировать</span>
                }
            </button>
        </div>
    </form>
</div>