﻿@using FeastHub.Common.DTO;
@using FeastHub.Common.Utilities;
@model CreateUserWithRolesDTO

<div class="" role="document">
    <form class="modal-content" asp-controller="user" asp-action="create">
        <div class="modal-header d-flex justify-content-center">
            <h4 class="modal-title" id="exampleModalLongTitle">Создание пользователя</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="text" class="form-control" asp-for="Email" placeholder="Введите Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" class="form-control" asp-for="Name" placeholder="Введите название">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="text" class="form-control" asp-for="Password" placeholder="Введите пароль">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Roles"></label>
                <div class="d-flex flex-row gap-3">
                    @foreach (var role in User.ExtractRoles().CanAssign())
                    {
                        <div class="">
                            <input type="checkbox" id="@role" class="form-check-input" name="Roles" value="@role" />
                            <label for="@role" class="form-check-label">@role.GetDisplayNameIfExists()</label>
                        </div>
                    }
                </div>
                <span asp-validation-for="Roles" class="text-danger"></span>
            </div>
        </div>
        <div class="text-danger mb-2" asp-validation-summary="All"></div>
        <div class="modal-footer d-flex flex-row flex-wrap">
            <button type="button" class="btn btn-danger" return>Отмена</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>