﻿@using FeastHub.Common.DTO;
@using FeastHub.Common.Utilities;
@model EditUserWithRolesDTO

<div class="" role="document">
    <form class="modal-content" asp-controller="user" asp-action="edit" asp-route-id="@ViewBag.Id" method="post">
        <div class="modal-header d-flex justify-content-center">
            <h4 class="modal-title" id="exampleModalLongTitle">Редактирование пользователя @ViewBag.Email</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" class="form-control" asp-for="Name" disabled>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Roles"></label>
                <div class="d-flex flex-row gap-3">
                    @foreach (var role in Enum.GetValues(typeof(FeastHubRoleType)).Cast<FeastHubRoleType>())
                    {
                        <div class="">
                            <input type="checkbox" id="@role" class="form-check-input" name="Roles" value="@role"
                            @(Model.Roles.Contains(role) ? "checked" : null)
                            @(User.ExtractRoles().CanAssign(role) ? null : "disabled") />
                            <label for="@role" class="form-check-label">@role.GetDisplayNameIfExists()</label>
                        </div>
                    }
                </div>
                <span asp-validation-for="Roles" class="text-danger"></span>
            </div>
        </div>
        <div class="text-danger mb-2" asp-validation-summary="All"></div>
        <div class="modal-footer d-flex flex-row flex-wrap">
            <button type="button" class="btn btn-danger" return>Отмена</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>