﻿@using FeastHub.Common.DTO;
@model UserDTO
@{
    ViewData["Title"] = Model.Name;
}
<div class="d-flex flex-column flex-fill gap-4">
    @Model.Name
</div>

    
@section Scripts {
    <script src="~/js/User/user.js"></script>
}