﻿@using FeastHub.Common.DTO.View;
@using FeastHub.Common.DTO;
@using FeastHub.Common.DTO.View.QueryParameters;
@using FeastHub.Common.Utilities;
@model UsersPagedViewModel
@{
    ViewData["Title"] = "Пользователи";
}
<input hidden page-number value="@Model.Content.Info.CurrentPage" />
<div class="d-flex flex-column flex-fill gap-4">
    <div class="d-flex flex-column gap-2">
        <div class="d-flex flex-row flex-wrap">
            <h3 class="mr-1">Поиск по пользователям</h3>
            <a asp-controller="user" asp-action="create" class="btn ml-auto btn-primary">
                Создать
            </a>
        </div>
        <div class="input-group">
            <input user-name class="form-control" type="text" value="@Model.Query.Name" placeholder="фильтрация по имени" />
            <div class="input-group-append">
                <button class="input-group-text btn btn-outline border clear-button" id="clear-name">&times;</button>
            </div>
        </div>
        <div class="input-group">
            <input user-email class="form-control" type="text" value="@Model.Query.Email" placeholder="фильтрация по email" />
            <div class="input-group-append">
                <button class="input-group-text btn btn-outline border clear-button" id="clear-email">&times;</button>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Query.Roles"></label>
            <div class="d-flex flex-row gap-3">
                @foreach (var role in Enum.GetValues(typeof(FeastHubRoleType)).Cast<FeastHubRoleType>())
                {
                    <div class="">
                        <input type="checkbox" id="@role" class="form-check-input" name="Query.Roles" value="@role"
                        @(Model.Query.Roles.Contains(role) ? "checked" : null)/>
                        <label for="@role" class="form-check-label">@role.GetDisplayNameIfExists()</label>
                    </div>
                }
            </div>
            <span asp-validation-for="Query.Roles" class="text-danger"></span>
        </div>
        <div class="input-group">
            <select class="form-select" sorting-attribute>
                @foreach (var item in Enum.GetValues(typeof(UserSortingAttribute)).Cast<UserSortingAttribute>())
                {
                    <option selected="@(Model.Query.SortingAttribute == item)" value="@item">
                        @item.GetDisplayNameIfExists()
                    </option>
                }
            </select>
            <select class="form-select" sorting-type>
                @foreach (var item in Enum.GetValues(typeof(SortingType)).Cast<SortingType>())
                {
                    <option selected="@(Model.Query.SortingType == item)" value="@item">
                        @item.GetDisplayNameIfExists()
                    </option>
                }
            </select>
        </div>
        <button class="btn btn-primary btn-block" type="submit" id="search-button">
            Искать
        </button>
    </div>

    <div class="flex-column d-flex flex-fill gap-2">
        @if (Model.Content.Info.PageSize == 0)
        {
            <div class="alert alert-warning d-flex justify-content-center lg" role="alert">
                <span class="text-lg">По данному запросу ничего не найдено</span>
            </div>
        }

        @if (Model.Content.Info.PageSize > 0)
        {

            <div class="flex-column d-flex flex-fill gap-2">
                <div class="flex-column d-flex gap-2">
                    @foreach (var item in Model.Content.Items)
                    {
                        @await Html.PartialAsync("UserShort", item)
                    }
                </div>
                <div class="d-flex flex-row gap-2 justify-content-center" role="alert">
                    <span class="text-muted">
                        Показана страница @Html.DisplayFor(model => model.Content.Info.CurrentPage) из @Html.DisplayFor(model => model.Content.Info.PageCount)
                    </span>
                </div>
            </div>
        }
    </div>

    @await Html.PartialAsync("PageButtons", Model.Content.Info)
</div>
@section Scripts {
    <script src="~/js/User/users.js"></script>
}