﻿@using FeastHub.Common.DTO.View
@using FeastHub.Common.Utilities;
@using FeastHub.Common.DTO;
@model UserDTO
@{

}
<div class="card">
    <div class="card-header d-flex py-2 px-3 flex-row flex-wrap align-content-center">
        <div class="d-flex flex-row flex-wrap align-content-center text-lg">
            @Model.Email
        </div>
    </div>
    <div class="card-body d-flex flex-row">
        <div class="mr-1 d-flex flex-row flex-wrap align-content-center">
            @Html.DisplayFor(user => user.Name)
        </div>
        @if (User.ExtractRoles().CanOperate(Model.Roles))
        {
            <div class="d-flex card-covert-content flex-row flex-wrap gap-1 ml-auto">
                <a asp-controller="user" asp-action="edit" asp-route-id="@Model.Id" class="btn btn-warning">
                    <span>Редактировать</span>
                </a>
                <a asp-controller="user" asp-action="ban" asp-route-id="@Model.Id"
               asp-route-actionType="@(Model.IsBanned ? ActionType.Remove : ActionType.Add)" class="btn btn-danger">
                    @if (Model.IsBanned)
                    {
                        <span>Разблокировать</span>
                    }
                    else
                    {
                        <span>Заблокировать</span>
                    }
                </a>
            </div>
        }
    </div>
    @if (Model.Roles.Count > 0 || Model.IsBanned)
    {
        <div class="card-footer d-flex flex-row gap-2">
            @foreach (var role in Model.Roles)
            {
                <span class="border rounded py-1 px-2">@role.GetDisplayNameIfExists()</span>
            }
            @if (Model.IsBanned)
            {
                <span class="rounded py-1 px-2 bg-secondary text-white">Заблокирован</span>
            }
        </div>

    }
</div>