.pagination button {
    border-bottom-left-radius: 0rem !important;
    border-bottom-right-radius: 0rem !important;
    border-bottom: 0rem;
}

.pagination li:not(:first-of-type) button {
    border-top-left-radius: 0rem;
}

.pagination li:not(:last-of-type) button {
    border-top-right-radius: 0rem;
}

.pagination {
    margin-bottom: 0rem;
}
