﻿@using FeastHub.Common.DTO;
@model CreateRestaurantDTO

<div class="" role="document">
    <form class="modal-content" asp-controller="restaurant" asp-action="create">
        <div class="modal-header d-flex justify-content-center">
            <h4 class="modal-title" id="exampleModalLongTitle">Создание ресторана</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label asp-for="Name">Название</label>
                <input type="text" class="form-control" asp-for="Name" placeholder="Введите название">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="text-danger mb-2" asp-validation-summary="All"></div>
        <div class="modal-footer d-flex flex-row flex-wrap">
            <button type="button" class="btn btn-danger" return>Отмена</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>