﻿@using FeastHub.Common.DTO;
@model Guid

<div class="" role="document">
    <form class="modal-content" asp-controller="restaurant" asp-action="delete" asp-route-id="@Model">
        <div class="modal-header d-flex justify-content-center">
            <h4 class="modal-title" id="exampleModalLongTitle">Удаление ресторана</h4>
        </div>
        @if (!ViewContext.ViewData.ModelState.IsValid)
        {
            <div class="text-danger mb-2" asp-validation-summary="All"></div>
        }
        <div class="modal-footer d-flex flex-row flex-wrap">
            <button type="button" class="btn btn-primary" return>Отмена</button>
            <button type="submit" class="btn btn-danger">Удалить</button>
        </div>
    </form>
</div>