﻿@using FeastHub.Common.DTO.View
@using FeastHub.Common.Utilities;
@using FeastHub.Common.DTO;
@model UserDTO
@{

}
<div class="card">
    <div class="card-header d-flex p-3 flex-row">
        <a asp-controller="user" asp-action="user" asp-route-id="@Model.Id">
            <span>@Html.DisplayFor(user => user.Email)</span>
        </a>
    </div>
    <div class="card-body d-flex px-3 py-2 flex-row">
        <div class="mr-1 flex-column d-flex justify-content-center align-content-sstart">
            @Html.DisplayFor(user => user.Name)
        </div>
        <div class="d-flex card-covert-content flex-row flex-wrap gap-1 ml-auto">
            <button dismiss="@Model.Id" class="btn btn-danger">
                Уволить
            </button>
        </div>
    </div>
    @if (Model.Roles.Count > 0 || Model.IsBanned)
    {
        <div class="card-footer d-flex flex-row gap-2">
            @foreach (var role in Model.Roles)
            {
                <span class="border rounded py-1 px-2">@role.GetDisplayNameIfExists()</span>
            }
            @if (Model.IsBanned)
            {
                <span class="rounded py-1 px-2 bg-secondary text-white">Заблокирован</span>
            }
        </div>

    }
</div>