﻿@using FeastHub.Common.DTO;
@model RestaurantPersonnelViewModel
@{
    ViewData["Title"] = Model?.Restaurant?.Name ?? "Ошибка";
}
<link rel="stylesheet" href="~/css/Restaurant/restaurants.css" asp-append-version="true" />

@if (ViewContext.ViewData.ModelState.IsValid)
{
    <input type="text" hidden where-to />
    <input type="text" hidden restaurant-id="@Model.Restaurant.Id" />
    <div class="d-flex flex-column flex-fill gap-4 mb-4">
        <div class="d-flex flex-row flex-wrap gap-2">
            <div class="border p-2 rounded flex-grow-1 mb-0 card-body d-flex flex-wrap">
                <h3 class="display-4">@Model.Restaurant.Name</h3>
                <div class="d-flex card-covert-content flex-row flex-wrap gap-1 ml-auto">
                    <a asp-controller="restaurant" asp-action="edit" asp-route-id="@Model.Restaurant.Id"
                       class="btn btn-warning d-flex justify-content-center flex-wrap align-content-center">
                        Изменить
                    </a>
                    <a asp-controller="restaurant" asp-action="delete" asp-route-id="@Model.Restaurant.Id"
                       class="btn btn-danger d-flex justify-content-center flex-wrap align-content-center">
                        Удалить
                    </a>
                </div>
            </div>

            <div class="flex-column justify-content-center flex-wrap align-content-center d-flex alert-info p-2 rounded">
                <h5>Рейтинг</h5>
                <div class="flex-column d-flex flex-wrap justify-content-center align-content-center" id="Rating">
                    <span style="font-size: 1.4em"><strong>@Model.Restaurant.Rating</strong>/10</span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap gap-4" id="personnel-container">
            <div id="personnel-content" class="d-flex flex-row flex-wrap gap-4 flex-grow-1">
                <div class="flex-grow-1 w-max-50 border p-2 rounded gap-1">
                    <div class="border-bottom mb-2 d-flex flex-row card-body p-2">
                        <h4>Повара</h4>
                        <button open="Cook" class="btn btn-primary card-covert-content ml-auto  mb-1">
                            Добавить
                        </button>
                    </div>
                    <div class="flex-column d-flex gap-2" id="Cooks" personnel-role="Cook">
                        @foreach (var cook in Model.Cooks)
                        {
                            @await Html.PartialAsync("Personnel", cook)
                        }
                        @if (Model.Cooks.Count == 0)
                        {
                            <h4 class="d-flex flex-wrap align-content-center justify-content-center">Тут никого нет</h4>
                        }
                    </div>
                </div>
                <div class="flex-grow-1 w-max-50 border p-2 rounded gap-1">
                    <div class="border-bottom mb-2 d-flex flex-row card-body p-2">
                        <h4>Менеджеры</h4>
                        <button open="Manager" class="btn btn-primary card-covert-content ml-auto mb-1">
                            Добавить
                        </button>
                    </div>
                    <div class="flex-column d-flex gap-2" id="Managers" personnel-role="Manager">
                        @foreach (var manager in Model.Managers)
                        {
                            @await Html.PartialAsync("Personnel", manager)
                        }
                        @if (Model.Managers.Count == 0)
                        {
                            <h4 class="d-flex flex-wrap align-content-center justify-content-center">Тут никого нет</h4>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="add-personnel">
        @await Html.PartialAsync("Users", new UsersPagedViewModel())
    </div>
}
else
{
    <div class="text-danger display-6" asp-validation-summary="All"></div>
}


@section Scripts {
    <script src="~/js/Restaurant/users.js"></script>
    <script src="~/js/Restaurant/restaurant.js"></script>
}