﻿@using FeastHub.Common.DTO.View
@using FeastHub.Common.DTO;
@model RestaurantShortDTO
@{

}
<div class="card">
    <div class="card-body d-flex flex-row">
        <div class="mr-1">
            <a asp-controller="restaurant" asp-action="restaurant" asp-route-id="@Model.Id">
                @Html.DisplayFor(restaurant => restaurant.Name)
            </a>
        </div>
        <div class="d-flex card-covert-content flex-row flex-wrap gap-1 ml-auto">
            <a asp-controller="restaurant" asp-action="edit" asp-route-id="@Model.Id" class="btn btn-warning">
                Изменить
            </a>
            <a asp-controller="restaurant" asp-action="delete" asp-route-id="@Model.Id" class="btn btn-danger">
                Удалить
            </a>
        </div>
    </div>
    <div class="card-footer">
        <span>Рейтинг: @Html.DisplayFor(restaurant => restaurant.Rating)</span>
    </div>

</div>