﻿@using FeastHub.Common.DTO.View
@using FeastHub.Common.Utilities;
@using FeastHub.Common.DTO;
@model UserDTO
@{

}
<div class="card">
    <div class="card-header d-flex p-3 flex-row">
        <h6>
            <span>@Html.DisplayFor(user => user.Email)</span>
        </h6>
    </div>
    <div class="card-body d-flex flex-row">
        <div class="mr-1">
            @Html.DisplayFor(user => user.Name)
        </div>
        <div class="d-flex card-covert-content flex-row flex-wrap gap-1 ml-auto">
            <button class="btn btn-primary" add-user="@Model.Id">
                Добавить
            </button>
        </div>
    </div>
</div>